# Inclusion
snippet stdio
#include <stdio.h>
endsnippet
snippet stdlib
#include <stdlib>
endsnippet

snippet main
int main(int argc, char* argv[]){
	${0}
	return 0;
}
endsnippet
snippet cm
/*
${1:comment}
*/
endsnippet
snippet cml
/* ${1:comment} */
endsnippet
