snippet cm
#####################################
# ${1:comment}#
#####################################
endsnippet

snippet m
matrix(${1})
endsnippet

snippet v
vector(${1})
endsnippet

snippet l
list(${1})
endsnippet
