snippet pre "preambule"
#################################################################
#
# DESCRIPTION: ${1:description}
#
# TODO: ${0}
#
#################################################################
endsnippet
