snippet pre "preambule"
#################################################################
#
# DESCRIPTION: ${1:description}
#
# TODO: ${0}
#
#################################################################
endsnippet

snippet cm "comment"
#################################################################
# ${1:comment}
#################################################################
endsnippet

snippet snip "snippet"
snippet ${1:snip}
endsnippet
